<h2>Dope ass graph goes here</h2>

<div ng-app="waterModule" ng-controller="waterGraphControl">
	<water-visualization data="waterRecords"></water-visualization>
</div>

<h2>Recent water intake</h2>
<div ng-app="waterModule" ng-controller="waterDisplayAllCtrl">
	<table>
		<thead>
		<tr>
			<th>Date</th>
			<th>Number of cups</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="record in waterRecords">
			<td>{{ record.drank | date:"short" }}</td>
			<td>{{ record.intake }}</td>
		</tr>
		</tbody>
	</table>
</div>

<!--
<h2>Recent Water Intake</h2>
<div ng-app="waterModule" ng-controller="waterDisplayLastCtrl">
  <div class="water-display" ng-model="waterRecord">
    <div ng-show="waterRecord.intake">
      <p>On {{ waterRecord.drank | date:"short" }} - {{ waterRecord.intake }}</p>
    </div>
   <p ng-hide="waterRecord.intake">You didn't enter water recently!</p>
  </div>
</div>
-->