<main>
  <div class="user-authentication">
    <form name="loginForm" ng-controller="loginCtrl" ng-submit="logIn()" class="login">
      <div ng-show="error" class="form-error">{{ error }}</div>
      <fieldset>
        <legend>
          <h3>Log in</h3>
        </legend>
        <label for="email">Email:
          <input type="email" ng-model="user.email" placeholder="email@sample.com" name="email" required>
        </label>
        <label for="password">Password:
          <input type="password" ng-model="user.password" placeholder="create your password" name="password" required>
        </label>
      </fieldset>
      <button>Log in</button>
    </form>
  </div>
</main>

