//- landing page
extends layout

block content
  article
    h1 Track Yourself
    p Introductory text to go here
    section.graph graph sample goes here
    section.testimonial
      h2 Testimonial 1
    section.testimonial
      h2 Testimonial 2
    section.testimonial
      h2 Testimonial 3
    section.testimonial
      h2 Testimonial 4
