//- landing page
extends layout

block content
  article
    h1 Track Yourself
    p Introductory text to go here
    section.graph graph sample goes here
    section.testimonial
      h2 Testimonial 1
      p testimonial 1 text
    section.testimonial
      h2 Testimonial 2
      p testimonial 2 text
    section.testimonial
      h2 Testimonial 3
      p testimonial 3 text
    section.testimonial
      h2 Testimonial 4
      p testimonial 4 text
