//- replaced main.jade
//- contains HTML5 boilderplate, header and footer
doctype html
html(lang="en", class="no-js", ng-app="trackerApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Track Yourself
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="../dist/main.css")
  body
    header
      figure
        //- holds logo
        //- img(src="#" size="20px")
      .button-container
        button

    main
      block content
      //- individual page content will go here

    footer
      small Track Yourself &copy;2014

    //- script should stay just above closing body tag
    script(src="js/vendor/modernizr-2.8.0.min.js")
