extends main

block content
 h1 Please log in

 if message
  p
    strong=message

  form(action="/login",method="post")

    p(class="field-wrap")
      label(for="login-email") Email
        br
        input(type="text",name="email",id="login-email")

    p(class="field-wrap")
      label(for="login-password") Password
        br
        input(type="password",name="password",id="login-password")

    p(class="field-wrap")
      button(type="submit") Login

  p Need an account?
    a(href="/register") Register

  p ... or go
    a(href="/") home