//- new user sign up (registration) & account creation
extends layout

block content
  .user-authentication
    form.register
      fieldset
        legend
          h3 Sign Up
        label(for="username") Display Name:
          input(type="text", placeholder="choose your display name", name="username", required)
        label(for="email") Email:
          input(type="email", placeholder="email@sample.com", name="email", required)
        label(for="password") Password:
          input(type="password", placeholder="create your password", name="password", required)
