@import forms/_manifest

form
  +border-radius($radius)

label
  display: block

input:not([type=radio]), textarea
  width: 100%

// input
//   &:required
//     outline: 2px solid $alert-color
//     &:focus
//       outline: 0.5px solid $alert-color
