<nav><a href="Dashboard">Dashboard</a><a href="/#inputs">Forms</a></nav>
<main>
  <article>
    <section class="graph">
      <h2>Sleep</h2>
      <div class="graph-sleep">
        <h3>Username Sleep Summary</h3>
        <p>sleep graph summary goes here</p>
      </div>
    </section>
    <section class="graph">
      <h2>Exercise</h2>
      <div class="graph-exercise">
        <h3>Username Exercise Summary</h3>
        <p>exercise graph summary goes here</p>
      </div>
    </section>
    <section class="graph">
      <h2>Water</h2>
      <div class="graph-water">
        <h3>Username Water Summary</h3>
        <p>water graph summary goes here</p>
      </div>
    </section>
    <section class="graph">
      <h2>Energy</h2>
      <div class="graph-energy">
        <h3>Username Energy Summary</h3>
        <p>energy graph summary goes here</p>
      </div>
    </section>
    <section class="graph">
      <h2>Mood</h2>
      <div class="graph-mood">
        <h3>Username Mood Summary</h3>
        <p>mood graph summary goes here</p>
      </div>
    </section>
  </article>
</main>

