<article>
  <h1 class="home">Track Yourself</h1>
  <p>Track Yourself is a web app that allows you to keep track of various behaviors like exercise, sleep and water intake to see how these behaviors affect your overall well-being. Enter data on the forms page to record how your behaviors and view the dashboard to see graphical representations of your behavior patterns. <a href="/#/signup">Sign up</a> to track yourself.</p>
  <section class="graph">graph sample goes here</section>
  <section class="testimonial">
    <h3>Violet Flowers</h3>
    <p>"I kept wondering why I was tired and thirsty all the time, then I began using Track Yourself to record my water intake. I realized I was only drinking an average of 4 cups of water a day! Now that I'm drinking 8 cups of water a day I no longer feel thirsty all the time"</p>
  </section>
  <section class="testimonial">
    <h3>Barry Snoozer</h3>
    <p>I'm always complaining to my friends about how tired I am. Violet suggested I try using Track Yourself to track my sleep. After entering in my sleep times for a few weeks, I was surprised to learn I was only sleeping an average of 3 hours a night. I'm going to keep recording my sleep times with a goal of getting a least 6 hours a night.</p>
  </section>
  <section class="testimonial">
    <h3>Arthur Waters</h3>
    <p>At my last check-up, my doctor suggested I drink more water and get more exercise. He suggested using an app to record my exercise and water intake. I found this app online and liked the graphs showing weekly trends, so I thought I'd give it a try. I like how easy it is to record my information and read my graphs.</p>
  </section>
  <section class="testimonial">
    <h3>Elsa Spinach</h3>
    <p>I kept telling myself I wanted to get more exercise, but I would have trouble remembering how often I had exercised and how intense my workouts were. I found this app online and started recording my exercise routine. I found it helped me be more consistent and meet my exercise goals.</p>
  </section>
</article>
