<article>
  <section class="userform">

    <div ng-controller="sleepMainCtrl" ng-model="sleepRecord">
      <div ng-show="sleepRecord.sleep">
        <h2>Sleep</h2>
        <p>{{ sleepRecord.sleep | date:"short" }} - {{ sleepRecord.wake | date: "short" }} </p>
        <p> You slept for {{ sleepRecord.duration }} hours.</p>
      </div>
      <form ng-hide="sleepRecord.sleep" name="sleepForm" ng-submit="sleepEntered()">
        <legend><h2>Sleep</h2></legend>
        <label for="sleep">Went to sleep at</label>
        <input type="datetime-local" name="sleep" ng-model="newSleep.sleep" required><br>
        <label for="wake">Woke up at</label>
        <input name="wake" type="datetime-local" ng-model="newSleep.wake" required><br>
        <label for="sleep-notes">Notes</label>
        <textarea name="sleep-notes" rows="3" ng-model="newSleep.notes"></textarea>
        <button type="submit">Save</button>
      </form>
    </div>
  </section>

  <section class="userform">
    <form name="waterForm" ng-controller="waterInputCtrl" ng-submit="waterEntered()">
      <legend><h2>Water intake</h2></legend>
      <label for="waterDrank">Date</label>
      <input name="drank" type="date" ng-model="waterRecord.drank" id="waterDrank" ng-value="waterRecord.drank" required>
      <label for="waterIntake">Cups of water</label>
      <input name="intake" ng-model="waterRecord.intake" id="waterIntake" required>
      <label for="water-notes">Notes</label>
      <textarea name="water-notes" rows="3" ng-model="waterRecord.notes"></textarea>
      <button type="submit">Save</button><span name="inputSaved" ng-show="inputSaved">Input Saved!</span>
    </form>
  </section>

  <section class="userform">
    <form name="exerciseForm" ng-controller="exerciseInputCtrl" ng-submit="exerciseEntered()">
      <legend><h2>Exercise routine</h2></legend>
      <label for="exerciseDate">Date</label>
      <input name="date" type="date" ng-model="exerciseRecord.date" id="exerciseDate" ng-value="exerciseRecord.date" required>
      <label for="exerciseDuration">Duration -- in minutes</label>
      <input name="duration" ng-model="exerciseRecord.duration" id="exerciseDuration" required>
      <label for="exerciseIntensity">Workout intensity (scale 1-5)</label>
      <input class="slider" name="intensity" type="range" min="1" max="5" value="3" step="1" ng-model="exerciseRecord.intensity" id="exerciseIntensity" required>
      <span>{{ exerciseRecord.intensity }}</span>
      <label for="exercise-notes">Notes</label>
      <textarea name="exercise-notes" rows="3" ng-model="exerciseRecord.notes"></textarea>
      <button type="submit">Save</button> <span name="inputSaved" ng-show="inputSaved">Input Saved!</span>
    </form>
  </section>
</article>
