<main>
<nav><a href="/#dashboard">Dashboard</a><a href="/#input">Forms</a></nav>

<article>
  <section class="userform">

    <div ng-controller="sleepMainCtrl" ng-model="sleepRecord">
      <div ng-show="sleepRecord.sleep">
        <h2>Sleep</h2>
        <p>{{ sleepRecord.sleep | date:"short" }} - {{ sleepRecord.wake | date: "short" }} </p>
        <p> You slept for {{ sleepRecord.duration }} hours.</p>
      </div>
      <form ng-hide="sleepRecord.sleep" name="sleepForm" ng-submit="sleepEntered()">
        <legend><h2>Sleep</h2></legend>
        <label for="sleep">Went to sleep at</label>
        <input type="datetime-local" name="sleep" ng-model="newSleep.sleep" required><br>
        <label for="wake">Woke up at</label>
        <input name="wake" type="datetime-local" ng-model="newSleep.wake" required><br>
        <button type="submit">Save</button>
      </form>
    </div>
  </section>

  <section class="userform">
    <form name="waterForm" ng-controller="waterInputCtrl" ng-submit="waterEntered()">
      <legend><h2>Add water intake</h2></legend>
      <label for="waterDrank">Date</label>
      <input name="drank" ng-model="waterRecord.drank" id="waterDrank" required>
      <label for="waterIntake">Cups of water</label>
      <input name="intake" ng-model="waterRecord.intake" id="waterIntake" required>
      <button type="submit">Save</button>
    </form>
  </section>

  <section class="userform">
    <form name="exerciseForm" ng-controller="exerciseInputCtrl" ng-submit="exerciseEntered()">
      <legend><h2>Add your completed exercise routine</h2></legend>
      <label for="exerciseDate">The date you exercised</label>
      <input name="date" ng-model="exerciseRecord.date" id="exerciseDate" required>
      <label for="exerciseDuration">Amount of minutes exercised</label>
      <input name="duration" ng-model="exerciseRecord.duration" id="exerciseDuration" required>
      <label for="exerciseIntensity">The intensity of your workout on a scale from 1 to 5 (5 being the most intense)</label>
      <input name="intensity" ng-model="exerciseRecord.intensity" id="exerciseIntensity" required>
      <button type="submit">Save</button>
    </form>
  </section>
</article>
</main>
