//button in main sass folder, styles only, no logic

@import buttons/_manifest

//orange header login/register/logout buttons
header button
  @extend %button
  margin-top: $em-base
  // @media all and (min-width: 768px)
  background-color: $comp-color
  &:hover
    background-color: $comp-color-lighten10

//aqua forms submit button
form button
  @extend %button
  margin-top: golden-ratio($em-base, -1)
  background-color: $tertiary-color
  &:hover
    background-color: $tertiary-color-lighten10
