//variables here

//font variables
$font-main: "Helvetica Neue", Helvetica, sans-serif
$font-header: Rockwell, rokkittregular, Georgia, serif
$em-base: 16px

//border-radius
$radius: 0

//color variables
//darker blue
$primary-color: #03318C

//medium blue
$secondary-color: #2182BF

//orange
$comp-color: #FD7A2C

//aqua
$tertiary-color: #14C8C8

//red
$alert-color: #DE3919

//black
$black: #000000

//white
$white: #FFFFFF

//++++ color variant variables

//++ primary color variables
$primary-color-lighten10: lighten($primary-color, 10%)
$primary-color-lighten20: lighten($primary-color, 20%)
$primary-color-lighten25: lighten($primary-color, 25%)
$primary-color-lighten30: lighten($primary-color, 30%)
$primary-color-lighten40: lighten($primary-color, 40%)
$primary-color-lighten50: lighten($primary-color, 50%)
$primary-color-lighten60: lighten($primary-color, 60%)
$primary-color-lighten70: lighten($primary-color, 70%)
$primary-color-lighten75: lighten($primary-color, 75%)
$primary-color-lighten80: lighten($primary-color, 80%)
$primary-color-lighten90: lighten($primary-color, 90%)

//++ secondary color variables
$secondary-color-lighten10: lighten($secondary-color, 10%)
$secondary-color-lighten20: lighten($secondary-color, 20%)
$secondary-color-lighten25: lighten($secondary-color, 25%)
$secondary-color-lighten30: lighten($secondary-color, 30%)
$secondary-color-lighten40: lighten($secondary-color, 40%)
$secondary-color-lighten50: lighten($secondary-color, 50%)
$secondary-color-lighten60: lighten($secondary-color, 60%)
$secondary-color-lighten70: lighten($secondary-color, 70%)
$secondary-color-lighten75: lighten($secondary-color, 75%)
$secondary-color-lighten80: lighten($secondary-color, 80%)
$secondary-color-lighten90: lighten($secondary-color, 90%)

//++ complimentary orange variations
// button hover lightens variables
// orange lightens for login/register/logout
$comp-color-lighten10: lighten($comp-color, 10%)
$comp-color-lighten20: lighten($comp-color, 20%)
//background color options
$comp-color-lighten25: lighten($comp-color, 25%)
$comp-color-lighten30: lighten($comp-color, 30%)
$comp-color-lighten40: lighten($comp-color, 40%)
$comp-color-lighten45: lighten($comp-color, 45%)
$comp-color-lighten50: lighten($comp-color, 50%)
$comp-color-lighten60: lighten($comp-color, 60%)
$comp-color-lighten70: lighten($comp-color, 70%)
$comp-color-lighten75: lighten($comp-color, 75%)
$comp-color-lighten80: lighten($comp-color, 80%)
$comp-color-lighten90: lighten($comp-color, 90%)

//++ aqua (tertiary) lightens
// form button options
$tertiary-color-lighten10: lighten($tertiary-color, 10%)
$tertiary-color-lighten20: lighten($tertiary-color, 20%)
// additional aqua (tertiary) lighten variables
$tertiary-color-lighten25: lighten($tertiary-color, 25%)
$tertiary-color-lighten30: lighten($tertiary-color, 30%)
$tertiary-color-lighten40: lighten($tertiary-color, 40%)
$tertiary-color-lighten50: lighten($tertiary-color, 50%)
$tertiary-color-lighten60: lighten($tertiary-color, 60%)
$tertiary-color-lighten70: lighten($tertiary-color, 70%)
$tertiary-color-lighten75: lighten($tertiary-color, 75%)
$tertiary-color-lighten80: lighten($tertiary-color, 80%)
$tertiary-color-lighten90: lighten($tertiary-color, 90%)

//++ red lightens
$alert-color-lighten10: lighten($alert-color, 10%)
$alert-color-lighten20: lighten($alert-color, 20%)
$alert-color-lighten25: lighten($alert-color, 25%)
$alert-color-lighten30: lighten($alert-color, 30%)
$alert-color-lighten40: lighten($alert-color, 40%)
// red lighten for alert
$alert-color-lighten50: lighten($alert-color, 50%)
// additional red lightens
$alert-color-lighten60: lighten($alert-color, 60%)
$alert-color-lighten70: lighten($alert-color, 70%)
$alert-color-lighten75: lighten($alert-color, 75%)
$alert-color-lighten80: lighten($alert-color, 80%)
$alert-color-lighten90: lighten($alert-color, 90%)

//++ black lightens for greyscales
$black-lighten10: lighten($black, 10%)
$black-lighten20: lighten($black, 20%)
$black-lighten25: lighten($black, 25%)
$black-lighten30: lighten($black, 30%)
$black-lighten40: lighten($black, 40%)
$black-lighten50: lighten($black, 50%)
$black-lighten60: lighten($black, 60%)
$black-lighten70: lighten($black, 70%)
$black-lighten75: lighten($black, 75%)
$black-lighten80: lighten($black, 80%)
$black-lighten90: lighten($black, 90%)
