//variables here

//font variables
$font-main: "Helvetica Neue", Helvetica, sans-serif
$font-header: Rockwell, rokkittregular, Georgia, serif
$em-base: 16px

//border-radius
$radius: 0

//color variables
//darker blue
$primary-color: #03318C

//medium blue
$secondary-color: #2182BF

//orange
$complimentary-color: #FD7A2C

//aqua
$tertiary-color: #14C8C8

//red
$alert-color: #DE3919

//black
$black: #000000

//white
$white: #FFFFFF

//color variant variables
//background color
$complimentary-color-lighten90: lighten($complimentary-color, 90%)

// button hover lightens variables
//orange lighten for login/register/logout
$complimentary-color-lighten20: lighten($complimentary-color, 20%)

//aqua lighten for form button
$tertiary-color-lighten20: lighten($tertiary-color, 20)
