// layout

header
  position: relative

header figure
  position: absolute
  top: golden-ratio($em-base, -3)
  left: golden-ratio($em-base, -3)

.button-container
  position: absolute
  bottom: 1em
  right: 1em

main
  position: relative

.missing-alert
  position: absolute
  top: 1em
  left: 0

article
  margin: 1em auto
  width: 90%

.testimonial
  display: inline-block
  width: 49%
  &:nth-child(odd)
    margin-right: 2%
  vertical-align: top
  @media all and (min-width: 420px)
    width: 100%

