// layout

header
  position: relative
  padding: $em-base

header figure
  display: block
  margin: 0
  @media all and (min-width: 320px)
    display: inline-block
    width: 94%
  @media all and (min-width: 600px)
    width: 45%
  @media all and (min-width: 768px)
    width: 40%

header figure img
  padding: golden-ratio($em-base, -1)

//images should be placed inside another element
img
  display: block
  width: 100%

.button-container
  display: block
  margin: 0 auto
  text-align: center
  @media all and (min-width: 600px)
    position: absolute
    bottom: 1em
    right: 1em

main
  position: relative

.missing-alert
  margin: golden-ratio($em-base, 1) 0 0 0
  display: inline-block
  p
    margin: 0

//home page H1
.home
  text-align: center

article
  margin: 1em auto
  width: 80%

h1, h2, h3, h4, h5, h6
  margin-bottom: golden-ratio($em-base, -2)

p
  margin-bottom: golden-ratio($em-base, 0)

nav
  text-align: center
  margin: golden-ratio($em-base, 1) auto
  a
    display: inline-block
    &:first-child
      margin-right: golden-ratio($em-base, 1)

header button:last-of-type
  margin-left: $em-base

.graph
  margin-bottom: golden-ratio($em-base, 0)

.graph-sample
  margin: golden-ratio($em-base, 2) auto
  width: 80%

.testimonial
  display: inline-block
  width: 100%
  vertical-align: top
  @media all and (min-width: 480px)
    width: 45%
    &:nth-child(even)
      margin-right: 9%

.graph, .userform
  display: inline-block
  width: 100%
  vertical-align: top
  @media all and (min-width: 480px)
    width: 45%
    &:nth-child(odd)
      margin-right: 9%

//login and registration (sign up) form layout
.user-authentication
  width: 65%
  margin: 9% auto
  @media all and (min-width: 600px)
    width: 50%
  @media all and (min-width: 768px)
    width: 35%
  @media all and (min-width: 800px)
    width: 25%
  h3
    padding-bottom: golden-ratio($em-base, -1)
