//buttons extends

%button
  line-height: 2em
  text-align: center
  text-transform: uppercase
  color: $white
  font-weight: bold
  border: none
  display: inline-block
  margin-top: golden-ratio($em-base, -1)
  padding: 0 golden-ratio($em-base, 0)
  @media all and (min-width: 420px)
    display: inline
